@import "./base";

@import "./utils/fonts";
@import "./utils/variables";
@import "./utils/utils";
@import "./utils/texts";

@import "./components/buttons";
@import "./components/links";
@import "./components/chef-card";
@import "./components/format-carf";
@import "./components/carousel-button";
@import "./components/input";

@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/section";
@import "./layouts/container";
@import "./layouts/advantages-section";
@import "./layouts/traditions-sections";
@import "./layouts/chefs-section";
@import "./layouts/formats-section";
@import "./layouts/contacts-section";
@import "./layouts/footer";
@import "./layouts/modal";
@import "./layouts/form-terms";
