.button {
  padding: 16px 32px;
  background-color: var(--color-brand-normal);
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  cursor: pointer;
}

.button:active {
  background-color: var(--color-brand-normal);
  border-color: var(--color-brand-normal);
}
