.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  &:last-child {
    rotate: 180deg;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    rotate: 180deg;
    transition: 0.3s ease;
  }

  &:hover &__arrow {
    scale: 1.2;
  }
}
