.chefs-card {
  display: flex;
  gap: 30px;
}

.chefs-title {
  margin: 0 auto 80px;
  position: relative;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  content: "";
  width: 352px;
  border: 2px solid var(--color-brand-light);
  position: absolute;
  bottom: 24px;
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow:
    -16px 16px 0px 0px var(--color-primary-light),
    -16px 16px 0px 2px var(--color-secondary-dark);
}
