.chefs-card {
  display: flex;
  gap: 30px;

  &__title {
    margin: 0 auto 16px;
    position: relative;
    font-size: 40px;
  }

  &__text {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow:
      -16px 16px 0px 0px var(--color-primary-light),
      -16px 16px 0px 2px var(--color-secondary-dark);
  }
}
