.format-card {
  position: relative;
  display: flex;
  border-radius: 16px;
  border: 1px solid lightgray; /* remove */
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  height: 444px;
  transition: transform 0.3s;
  flex-direction: column;
  justify-content: end;

  &:hover {
    transform: scale(1.05);
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 80px;
    color: var(--color-primary-light);
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
  }
}
