.advantages-section {
  padding: 0;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  gap: 40px;
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}
