.chefs-section {
  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 352px;
      border: 2px solid var(--color-brand-light);
      position: absolute;
      bottom: 24px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}
