.chefs-section {
  .chefs-list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
  }

  .chefs-item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    position: relative;
  }

  .chefs-title::before,
  .chefs-title::after {
    content: "";
    width: 352px;
    border: 2px solid var(--color-brand-light);
    position: absolute;
    bottom: 24px;
  }

  .chefs-title::before {
    left: 0;
  }

  .chefs-title::after {
    right: 0;
  }
}
