.footer {
  position: relative;
  padding: 32px 0;
  background-image: url(/images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer::before,
.footer::after {
  background-repeat: no-repeat;
  bottom: 0;
  position: absolute;
  content: "";
}

.footer::after {
  width: 380px;
  height: 187px;
  right: 0;
  bottom: 0;
  background-image: url(/images/decor-bread-large.png);
}

.footer::before {
  bottom: 0;
  width: 180px;
  height: 119px;
  background-image: url(/images/decor-bread-small.png);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-adress {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-basis: 50%;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  flex: 2;
}

.address-list,
.address-info {
  flex-basis: 50%;
}

.adress-icon {
  color: var(--color-primary-light);
  width: 32px;
  height: 32px;
}

.adress-icon:hover {
  color: var(--color-brand-normal);
  cursor: pointer;
}

.adress-link:hover {
  color: var(--color-brand-normal);
}

.adress-copyright {
  font-size: 14px;
}
