.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-img {
  border-radius: 300px 300px 0 0;
}

.traditions-text.limited {
  max-width: 340px;
}
.traditions-text .brand {
  color: var(--color-brand-normal);
}

.traditions-text .uppercase {
  text-transform: uppercase;
  color: var(--color-brand-normal);
}

.traditions-text span {
  font-weight: 600;
}
