.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__content {
    max-width: 710px;
  }

  &__img {
    border-radius: 300px 300px 0 0;
  }

  &__text {
    &--limited {
      max-width: 340px;
    }
  }
}
