@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}

/* Base\Global */

* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", "Cambria Math", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.section {
  padding: 48px 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
}

/* Buttons */

.button {
  padding: 16px 32px;
  background-color: var(--color-brand-normal);
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  cursor: pointer;
}

.button:active {
  background-color: var(--color-brand-normal);
  border-color: var(--color-brand-normal);
}

/* Link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  line-height: 1.5;
}

.link:hover {
  color: var(--color-brand-normal);
  cursor: pointer;
}

/* Header */

.header {
  background-color: aqua;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 64px;
}

/* Hero section */

.hero-section {
  padding: 256px 0;
  background-image: url(/images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  text-transform: capitalize;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advantages section */

.advantages-section {
  padding: 0;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  gap: 40px;
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-text.limited {
  max-width: 340px;
}
.traditions-text .brand {
  color: var(--color-brand-normal);
}

.traditions-text .uppercase {
  text-transform: uppercase;
  color: var(--color-brand-normal);
}

.traditions-text span {
  font-weight: 600;
}

/* Chefs section */

.chefs-list {
  display: flex;
  gap: 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
  display: flex;
  gap: 30px;
}

.chefs-title {
  max-width: 520px;
  margin: 0 auto 80px;
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chefs-title::after {
  content: "";
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

.chefs-title::before {
  content: "";
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow:
    -16px 16px 0px 0px var(--color-primary-light),
    -16px 16px 0px 2px var(--color-secondary-dark);
}

/* Formats section */

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  border-radius: 16px;
  border: 1px solid lightgray; /* remove */
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  height: 444px;
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Carousel */

.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

.carousel-arrow {
  width: 16px;
  height: 16px;
  rotate: 180deg;
  transition: 0.3s ease;
}

.carousel-button:hover .carousel-arrow {
  scale: 1.2;
}

/* Contacts section */

.contacts-title {
  margin-bottom: 16px;
}

.contacts-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
}

/* Footer */

.footer-container {
  display: flex;
}

.footer-nav {
  flex-basis: 50%;
}

.footer-adress {
  flex-basis: 50%;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  flex: 2;
}

.adress-icon {
  color: var(--color-primary-light);
  width: 32px;
  height: 32px;
}

.adress-icon:hover {
  color: var(--color-brand-normal);
  cursor: pointer;
}

.adress-link:hover {
  color: var(--color-brand-normal);
}

.adress-copyright {
  font-size: 14px;
}

.footer {
  background-image: url(/images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
